# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#Unity Temp/Config
./MyUnityProject/.vs/**
./MyUnityProject/Temp/**
./MyUnityProject/**.log
./MyUnityProject/obj/**

#Unity builds
./MyUnityProject/**_Data
./MyUnityProject/**.pdb
./MyUnityProject/**.exe
MyUnityProject/Library/ShaderCache/
MyUnityProject/Library/shadercompiler-UnityShaderCompiler.exe0.log
MyUnityProject/Library/shadercompiler-UnityShaderCompiler.exe1.log
MyUnityProject/Library/shadercompiler-UnityShaderCompiler.exe2.log
MyUnityProject/Library/shadercompiler-UnityShaderCompiler.exe3.log
MyUnityProject/Library/shadercompiler-UnityShaderCompiler.exe4.log
MyUnityProject/Library/shadercompiler-UnityShaderCompiler.exe5.log
MyUnityProject/Library/shadercompiler-UnityShaderCompiler.exe6.log
MyUnityProject/Library/shadercompiler-UnityShaderCompiler.exe7.log
MyUnityProject/MyUnityProject.sln
MyUnityProject/ProjectSettings/
MyUnityProject/Temp/
MyUnityProject/obj/
MyUnityProject/player_win_development_x64.pdb
MyUnityProject/player_win_development_x64_s.pdb
MyUnityProject/test.exe
MyUnityProject/test_Data/
MyUnityProject/.vs/
